<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('mural-1.jpg')%>" class="portfolio-box">
                    <%= image_tag "mural-1.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Intervenção
                            </div>
                            <div class="project-name">
                                Mural
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('mural-2.jpg')%>" class="portfolio-box">
                    <%= image_tag "mural-2.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Intervenção
                            </div>
                            <div class="project-name">
                                Mural
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('mural-3.jpg')%>" class="portfolio-box">
                    <%= image_tag "mural-3.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Intervenção
                            </div>
                            <div class="project-name">
                                Mural
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('gastronomia-do-bem.jpg')%>" class="portfolio-box">
                    <%= image_tag "gastronomia-do-bem.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Curso
                            </div>
                            <div class="project-name">
                                Gastronomia do Bem
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('desconferencia.jpg')%>" class="portfolio-box">
                    <%= image_tag "desconferencia.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Evento
                            </div>
                            <div class="project-name">
                                Desconferencia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="<%=image_url('somosinspiraceu.jpg')%>" class="portfolio-box">
                    <%= image_tag "somosinspiraceu.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Equipe
                            </div>
                            <div class="project-name">
                                Inspiracéu
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

